NEXT_PUBLIC_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=MY_API_KEY
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_TREASURY_WALLET=REPLACE_WITH_TREASURY_WALLET
NEXT_PUBLIC_TREASURY_ADDRESS=REPLACE_WITH_TREASURY_WALLET
