NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_TREASURY_WALLET=REPLACE_WITH_TREASURY_WALLET
NEXT_PUBLIC_TREASURY_ADDRESS=REPLACE_WITH_TREASURY_WALLET
NEXT_PUBLIC_FEE_WALLET=REPLACE_WITH_FEE_WALLET
NEXT_PUBLIC_FEE_ADDRESS=REPLACE_WITH_FEE_WALLET
TOKEN_MINT_ADDRESS=REPLACE_WITH_TOKEN_MINT
PRIVATE_KEY=[1,2,3]
TOKENS_PER_MINT=10000
